@import "tailwindcss";

:root {
  --background: #0d1318; /** website background color */
  --primary: #4ff8d2; /** main color of text and buttons*/
  --secondary: #ffffff80; /** text color */
  --foreground: #ffffff; /**color of text titles*/
  --border: #283945;
  --background-accent: #121b22; /* this is for the background of the inputs */
  --input-border: #dfe4e3; /* This is for the border of the inputs. */
}