---
import Layout from '@layouts/Layouts.astro';
import NavBar from '@components/NavBar.astro';
import Hero from '@components/Hero.astro';
---

<Layout title="Brandon Corpas | Mi portafolio web" description="Portfolio personal de Brandon Corpas, Frontend Developer y UX/UI Designer especializado en crear experiencias digitales atractivas y accesibles.">
  <NavBar />
  <main>
    <Hero />
    <!-- Aquí se añadirán más secciones en el futuro -->
  </main>
</Layout>
